<div class="about">
    <div class="information">
        <h1 class="title">Наши услуги</h1>
        <ul>
            <li class="text">Массаж спины и швз<br><span>45 минут</span></li>
            <li class="text">Массаж швз<br><span>20 минут</span></li>
            <li class="text">Лимфодренажный массаж<br><span>80 минут</span></li>
            <li class="text">Общий массаж<br><span>70 минут</span></li>
            <li class="text">Relax (спина, швз, руки, ноги)<br><span>75 минут</span></li>
            <li class="text">Массаж рук<br><span>20 минут</span></li>
            <li class="text">Расслабление тела (спина, швз, шея, зона декольте, голова, руки+кисти,
                ноги+стопы)<br><span>120
                    минут или 180 минут</span></li>
            <li class="text">Стоун терапия<br><span>130 минут</span></li>
            <li class="text">Кульптурапластика живота<br><span>60 минут (1 блок)</span></li>
            <li class="text">Скульптурирующий массаж (лимфодренажный + антицеллюлитный)<br><span>60 минут или 90
                    минут</span></li>
            <li class="text">Расслабляющий массаж ног и стоп<br><span>40 минут</span></li>
            <li class="text">Расслабляющий массаж лица, шеи, зоны декольте и головы<br><span>45 минут</span></li>
        </ul>
    </div>
    <div class="text-fon" [style.transform]="getScale()"><span>DREAMBODYMASSAGE</span></div>
    <div class="information">
        <h1 class="title">Стоун-терапия</h1>
        
        <p class="text">            
            Для чего она нужна?<br><br>            
            Массаж камнями направлен на решение двух основных задач:<br><br>
            ❗ Пассивная работа мышц и улучшение состояния здоровья. С помощью горячих и холодных камней можно реально
            улучшить работу организма, восстановить кровоток, справиться с некоторыми диагнозами и симптомами.<br>
            ❗Релаксация. После массажа камнями человек действительно расслабляется, это очень важно для нервной системы
            людей.<br><br>
            <img src="../assets/images/stoune.jpg" alt="Стоун-терапия">
            СПА- ритуал длится 2 часа 10 мин ☝️ За это время Вы с лёгкостью сможете отпустить все ваши проблемы,
            полностью
            расслабиться, набраться сил и энергии. Настоящий кайф 🆒 А после, Вас ждёт вкусный чай и угощения 🤗<br><br>
            Жду именно тебя ❤️
            
        </p>
    </div>   
</div>