<div id="main">

  <div id="main-container">

    <header>
      <nav class="menu">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">Home</a>
        <a routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">About Us</a>
        <a routerLink="/service" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">Service</a>
        <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">Contact</a>
        <img src="assets/images/Shape.png" alt="Menu">
      </nav>
    </header>

    <section class="main-info">
      <router-outlet class="component"></router-outlet>
    </section>

    <footer>
      <div class="logo-social">
        <a href="https://www.instagram.com/dream_body_massagegrodno/" target="_blank"><img
            src="assets/images/free-icon-instagram-3955024.png" alt="Instagram"></a>
        <a href="viber://chat?number=%2B375257252263" target="_blank"><img
            src="assets/images/free-icon-viber-3670173.png" alt="Чат с пользователем Viber"></a>
        <a href="https://wa.me/375257252263" target="_blank"><img src="assets/images/free-icon-whatsapp-3670051.png"
            alt="Чат с пользователем WhatsApp"></a>
      </div>
      <div class="logo-name"><img src="assets/images/logo.png" alt="Dream Body Massage"></div>
      <div class="logo-name-mobile"><img src="assets/images/logo-name.png" alt="Dream Body Massage"></div>
      <div class="footer-information">Гродно, Dream Body Massage<br>Все права защищены</div>
    </footer>

  </div>

  <img src="assets/images/dream_body_massagegrodno.png" alt="photo" class="photo">
  <img class="background-mask" src="assets/images/mask.png" alt="background-mask">

</div>