@font-face {
    font-family: Poppins;
    src: url("../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: PoppinsBold;
    src: url("../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: Reey;
    src: local('Reey'), url("../assets/fonts/Reey-Regular.otf");
}

@font-face {
    font-family: Сenturygothic;
    src: url("../assets/fonts/centurygothic.ttf");
}

@font-face {
    font-family: СenturygothicBold;
    src: url("../assets/fonts/centurygothic_bold.ttf");
}

#main {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    background-image: url("../assets/images/Background.png");
    background-size: cover;
    font-size: 12px;
    user-select: none;
    z-index: 1;
}

#main-container {
    max-width: 707px;
    margin: 0 40px 0 auto;
}

header {
    padding-top: 50px;
}

.menu {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.menu a:nth-child(2) {
    flex-shrink: 0;
}

.menu a {
    position: relative;
    font-size: 2.1em;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: rgba(158, 134, 92, 0.62);
    padding: 5px 10px;
    text-decoration: none;
}

.menu a::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    display: block;
    width: 0%;
    height: 3px;
    transform: translateX(-50%);
    transition: .3s;
    background: rgba(158, 134, 92, 0.62);
}

.menu a:hover::after {
    width: 100%;
}

.menu a.active::after {
    width: 100%;
}

.menu img {
    display: none;
    height: 25px;
    width: 35px;
    padding: 5px 10px;
}

.menu img:hover {
    cursor: pointer;
    scale: 1.1;
}

.main-info {
    margin-top: 40px;
}

.background-mask {
    position: absolute;
    top: 0;
    left: 400px;
    width: calc(100% - 400px);
    min-height: 893.5px;
    z-index: -1;
}

.photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 893.5px;
    z-index: -1;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding-bottom: 35px;
}

.logo-social {
    display: inline-block;
}

.logo-social a {
    display: inline-block;
    margin-right: 15px;
}

.logo-social a img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.logo-name-mobile {
    display: none;
}

.logo-name {
    display: inline-block;
}

.logo-name img {
    width: 100px;
    height: 80px;
    vertical-align: middle;
}

.footer-information {
    display: inline-block;
    font-size: 1.2em;
    font-family: "Сenturygothic", sans-serif;
    color: rgb(158, 141, 135);
}



#main:has(.about) {
    /* #main-container {
        margin-left: auto;
        margin-right: auto;
    } */

    .photo {
        display: none;
    }

    .background-mask {
        height: 100%;
        left: -300px;
        width: calc(100% + 300px);
    }    
}