@media screen and (max-width: 1439px) {
    #main-container {
        max-width: calc(707px + 0.40144 * (100vw - 1440px));
    }

    .background-mask {
        left: calc(400px + 0.4806 * (100vw - 1440px));
        width: calc(100% - (400px + 0.4806 * (100vw - 1440px)));
    }

    .photo {
        left: calc(0.4806 * (100vw - 1440px));
    }
}

@media screen and (max-width: 1023px) {
    #main-container {
        max-width: 600px;
        margin-left: 40px;
        margin-right: auto;
    }

    .background-mask {
        left: 0;
        width: 90%;
        transform: scale(-1, 1);
    }

    .photo {
        left: auto;
        right: -100px;
        max-width: 100%;
    }

    .f-main_menu a {
        font-size: 1.2em;
    }

    #main:has(.about) {
        .background-mask {
            left: -300px;
            width: calc(100% + 300px);
            transform: scale(1, 1);
        }
    }
}

@media screen and (max-width: 899px) {
    #main-container {
        margin: 0 auto;
    }

    .photo {
        display: none;
    }

    .background-mask {
        left: -150px;
        width: calc(100% + 150px);
        transform: scale(1, 1);
    }


}

@media screen and (max-width: 767px) {
    #main {
        font-size: calc(12px + (0.011696 * (100vw - 767px)));
    }

    #main-container {
        padding: 0 10px;
    }

    header {
        padding-top: 20px;
    }

    .menu img {
        height: calc(25px + (0.011696 * (100vw - 767px)));
        width: calc(35px + (0.01637 * (100vw - 767px)));
        padding: 2px 5px;
    }

    .logo-social {
        width: 110px;
    }

    .logo-name img {
        width: 80px;
        height: 64px;
    }

    footer {
        padding-bottom: 20px;
    }

    .background-mask {
        min-height: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    footer .f-main {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    footer .f-main_menu {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .main_menu,
    .other_menu {
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .f-main_information .footer-information {
        text-align: center;
    }

}

@media screen and (max-width: 424px) {
    #main-container {
        padding: 0 5px;
    }

    header {
        padding-top: 10px;
    }

    footer {
        padding-bottom: 50px;
    }

    footer .f-main_menu,
    footer .f-main_information {
        display: none;
    }

    footer .f-main_logo {
        flex-basis: 100%;
    }

    #phone a {
        font-size: 2em;
    }

    .logo-name {
        display: none;
    }

    .logo-name-mobile {
        display: inline-block;
    }

    .logo-name-mobile img {
        width: 200px;
        height: 80px;
        vertical-align: middle;
    }
}

@media screen and (max-width: 374px) {
    header {
        font-size: calc(7.4px + (0.015 * (100vw - 374px)));
    }

    .menu {
        flex-wrap: wrap;
        height: 50px;
        /* 65px при отображении */
    }

    .menu img {
        order: 1;
        margin-right: calc(100% - 28px - 10px);
        height: 20px;
        width: 28px;
        padding: 2px 10px;
    }

    .menu a {
        order: 2;
    }



}