<div id="adress" class="block">Адрес: <a href="https://maps.app.goo.gl/xR2xhVKs3VsnYeiB7" target="_blank">пр-т
                Космонавтов 2/1, этаж
                3, Гродно, 230025</a></div>
<div id="time-work" class="block">Часы работы*:
        <ul>
                <li>понедельник 09:00–21:00</li>
                <li>вторник 09:00–21:00</li>
                <li>среда 09:00–21:00</li>
                <li>четверг 09:00–21:00</li>
                <li>пятница 09:00–21:00</li>
                <li>суббота 09:00–21:00</li>
                <li>воскресенье 09:00–21:00</li>
        </ul>
        <br>
        *По предварительной записи
</div>
<div id="phone" class="block">Телефон: <a href="tel:+375257252263">+375(25) 725-22-63</a></div>
<div id="social" class="block">Написать:<div class="logo-social">
                <a href="https://www.instagram.com/direct/t/17842226534854264" target="_blank"><img
                                src="assets/images/free-icon-instagram-3955024.png" alt="Instagram"></a>
                <a href="viber://chat?number=%2B375257252263" target="_blank"><img
                                src="assets/images/free-icon-viber-3670173.png" alt="Чат с пользователем Viber"></a>
                <a href="https://wa.me/375257252263" target="_blank"><img
                                src="assets/images/free-icon-whatsapp-3670051.png"
                                alt="Чат с пользователем WhatsApp"></a>
        </div>
</div>
