:host {
    font-family: "Сenturygothic", sans-serif;
    font-size: 1.6em;
    color: rgb(158, 141, 135);
    line-height: 1.35;
    user-select: text;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: rgba(158, 141, 135, 0.2);
    border-radius: 40px;
    padding: 4px;
    transition: 0.4s;
}

a:hover {
    background-color: rgba(158, 141, 135, 0.4);
}

.block {
    padding: 20px 0;
    border-bottom: 3px solid rgba(158, 141, 135, 0.4);
}

#adress {
    margin-top: 80px;
}

#time-work ul {
    margin-left: 50px;
}

#social {
    margin-bottom: 79.95px;
}

.logo-social {
    display: inline-block;
    margin-left: 30px;    
}

.logo-social a {
    display: inline-block;
    margin-right: 15px;
}

.logo-social a img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

