@media screen and (max-width: 1280px) {
    .articleCloseIcon {
        height: 2em;
        width: 2em;
    }
}

@media (orientation: portrait) {

    .block-article {
        overflow-y: scroll;
    }

    .article {
        flex-direction: column;
        max-height: initial;
        margin-bottom: 100px;
    }

    .photo-article {
        width: 100%;
    }

    .text-article-block {
        width: 100%;
    }

}

@media (max-width: 768px) {

    .block-article {
        overflow-y: scroll;
    }

    .article {
        margin-bottom: 100px;
    }

}