:host {
    display: block;
    user-select: text;
}

.information {
    margin-bottom: 40px;
}

.title {
    font-size: 5em;
    font-family: "PoppinsBold", sans-serif;
    color: rgb(158, 141, 135);
    margin-bottom: 25px;
}

.text {
    font-family: "Сenturygothic", sans-serif;
    font-size: 2em;
    color: rgb(158, 141, 135);
    line-height: 1.1;
    list-style-position: inside;
}

.text span {
    font-size: 0.8em;
}

.content-container {

    /* display: flex;
    flex-flow: row wrap;
    column-gap: 2%;
    row-gap: 20px;
    justify-content: center; */

    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 227px);
    gap: 30px;
    justify-content: center;
}

.slider-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 12px;
    color: white;
}

.prev-button {
    left: 5px;
}

.next-button {
    right: 5px;
}

.no-slider-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0;
    overflow: hidden;
}

.no-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.no-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption {
    box-sizing: border-box;
    background-color: rgba(241, 195, 154, 0.237);
    border-radius: 0 0 15px 15px;
    height: 35px;
    padding: 5px 7px 9px 7px;
}

.caption-text-one {
    color: rgb(158, 141, 135);
    font-size: 15px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caption-text-many {
    color: rgb(158, 141, 135);
    font-size: 15px;
    white-space: pre;
    overflow: hidden;

    -webkit-line-clamp: 1;
    line-clamp: 1;
    /* Число отображаемых строк */
    display: -webkit-box;
    /* Включаем флексбоксы */
    -webkit-box-orient: vertical;
    /* Вертикальная ориентация */
}

.content {
    transition: transform 0.5s ease-in-out;
}

.content:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}