@media screen and (max-width: 1280px) {
    .articleCloseIcon {
        height: 2em;
        width: 2em;
    }
}

@media (orientation: portrait) {

    .article {
        max-height: initial;
    }

    .block-article {
        overflow-y: scroll;
    }

    .article {
        flex-direction: column;
    }

    .photo-article {
        width: 100%; 
    }

    .text-article-block {
        width: 100%;
    }



}