<div class="about">
    <div class="information">
        <h1 class="title">Наши статьи</h1>


        <div class="content-container">


            <div *ngFor="let content of contentData" class="content">

                <div class="no-slider-container" *ngIf="!content.children">
                    <div class="no-slider">
                        <img src="{{content.thumbnail_url || content.media_url}}" width="400" height="400" alt="">

                    </div>

                </div>



                <div class="slider-container" *ngIf="content.children" slider>
                    <div class="slider">
                        <img src="{{mediaContent.media_url}}" *ngFor="let mediaContent of content.children?.data"
                            width="400" height="400" alt="">
                    </div>
                    <button class="prev-button" type="button" aria-label="Посмотреть предыдущий слайд">&lt;</button>
                    <button class="next-button" type="button" aria-label="Посмотреть следующий слайд">&gt;</button>
                </div>

                <div class="caption" *ngIf="content.caption.split('\n').length - 1">
                    <p class="caption-text-many">{{content.caption}}</p>
                </div>
                <div class="caption" *ngIf="!(content.caption.split('\n').length - 1)">
                    <p class="caption-text-one">{{content.caption}}</p>
                </div>


            </div>





        </div>

    </div>
</div>