* {
    padding: 0;
    margin: 0;
    
}

.hidden_scroll {
    overflow: hidden;
}

body {
    /* отключение автоматического увеличения текста (font boosting) */
    min-height: 1px;
    max-height: 100%;
}