* {
    padding: 0;
    margin: 0;
    
}

.hidden_scroll {
    overflow: hidden;
}

html {
    /* отключение автоматического увеличения текста (font boosting) */
    min-height: 1px;
    max-height: 100%;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}